<h1>Group Membership</h1>

<p>
  <strong>Group:</strong>
  <%= @group.title %>
</p>

<p>
  <strong>Member:</strong>
  <%= @membership.user.name %>
</p>

<p>
  <strong>Member ID:</strong>
  <%= @membership.user_id %>
</p>

<p>
  <strong>Group Role:</strong>
  <%= @membership.group_role %>
</p>


<%= link_to 'Edit', edit_group_membership_path(@group, @membership) %> |
<%= link_to 'Back', group_path(@group) %>
