<h2>Resend confirmation instructions</h2>

<p>Please enter your email address so that we can resend your account confirmation instructions.</p>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div><br />

  <div><%= f.submit "Resend confirmation instructions" %></div>
<% end %>
<br />
<%= render :partial => "devise/shared/links" %>