
<h3>neoFICTION Terms of Use Agreement</h3>

<br />

<p><strong>IMPORTANT NOTICE:  To become a contributing member of the neoFICTION community you will need to check the box at the bottom of this page.  Be aware, our Terms of Use are very different than most websites.  Please read read through the FAQ below, and if you have additional questions consult the full <%= link_to "Terms of Use", terms_path %> document.  </strong><p>

<br />


	<p>By becoming a contributing member of the neoFICTION community you agree to the full
	<%= link_to "Terms of Use", terms_path %>. The following are frequently asked
	questions about the Terms of Service, but the full Terms of Service are what
	governs your use contract with neoFICTION.</p>

	<p>Q: WHAT IS THE MOST IMPORTANT THING I SHOULD KNOW ABOUT THE
	TERMS OF SERVICE?:</p>

	<p style='margin-left:.5in;text-indent:-.5in'>1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You
	affirm that the stories, photos, videos and other intellectual property content
	that you post to neoFICTION is 100% owned by you, and that you may legally post
	it without restriction.</p>

	<p style='margin-left:.5in;text-indent:-.5in'>2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You
	grant neoFICTION the non-exclusive right to use and monetize your content,
	sharing what we on monetized works with contributors 50-50 (after deduction of
	costs).</p>

	<p style='margin-left:.5in;text-indent:-.5in'>3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; You
	acknowledge and agree that your content may be combined with the content of
	other users to create stories and other artistic works using neoFICTION'
	content branching system.</p>

	<p>Q: WHAT KINDS OF CONTENT AM I ALLOWED TO CONTRIBUTE TO NEOFICTION?</p>

	<p>A: &nbsp;&nbsp;Initially neoFICTION is focused on
	stories.&nbsp; But in the future you will be able to post or upload all types
	of content - video, audio, text, pictures - provided they belong to you, are
	100% original and they do not contain anyone else's work that you don't have
	the right to distribute.</p>

	<p>Q: &nbsp;WHAT DOES IT MEAN THAT NEOFICTION HAS THE 'NON-EXCLUSIVE
	RIGHT' TO MONETIZE MY CONTENT?</p>

	<p>A: &nbsp;By posting or uploading content to neoFICTION , you
	give neoFICTION the non-exclusive right to make money with it. &nbsp;Non-exclusive
	means you still own your content and you can still sell it outside of neoFICTION
	however you want. &nbsp;But, if neoFICTION can figure out how to turn a profit
	with it, we're allowed to do that, as long as we share those profits with you. </p>

	<p>THEREFORE: &nbsp;If you are planning on selling your content
	to a publisher or third-party distributor who may want to purchase the
	EXCLUSIVE rights to your content, do not post it on neoFICTION.</p>

	<p>Q:&nbsp; HOW LONG DOES MY NON-EXCLUSIVE LICENSE TO NEOFICTION
	LAST?</p>

	<p>&nbsp;There is no termination clause. Your non-exclusive
	license to us lasts as long as your copyright in your content.&nbsp; This
	license does not end when you edit or delete your content.&nbsp; neoFICTION
	keeps historical snapshots of the content on the site.&nbsp; We reserve the
	right to use any version of your content that you have posted to our
	website.&nbsp; </p>

	<p>Q: WHAT DO YOU MEAN BY "MONETIZED WORKS?"</p>

	<p>A: &nbsp;We do not know whether any of the jointly produced
	content on neoFICTION will become valuable.&nbsp; Perhaps one storyline will
	gain a following and we are able to license it for sale as a book, an article,
	a story in a compilation, etc.&nbsp; We don't know whether that will happen and
	we certainly cannot guaranty it, but we are have organized this site to make it
	a possibility.</p>

	<p>When content becomes a "Monetized Work" it means that neoFICTION
	is planning to publish, sell or distribute it outside the NEOFICTION website for
	money. &nbsp;Perhaps it will become a book, or part of a short story anthology.
	&nbsp;After costs, NEOFICTION splits the money it makes 50-50 with those Authors
	whose work is included in the Monetized Work. </p>

	<p>EXAMPLE: &nbsp;Say a particular storyline on neoFICTION
	becomes popular and somehow neoFICTION manages to turn it into a money-making work.
	&nbsp;Fifty percent of that money would go to the parent company of neoFICTION.
	The other fifty percent goes to all the contributors whose content are resourced
	in the production.&nbsp; All of the writers, editors, photo or video
	contributors &#8211; everybody who had a hand in creating the final product
	gets their fair share based on how much they contributed.</p>

	<p>Q: HOW IS THE CONTRIBUTOR'S POOL SPLIT UP?</p>

	<p>A: For stories and other purely written works the writers
	will be compensated based on the number of chapters that they wrote.&nbsp;
	Where other media, such as photos or images, is mixed with the story, the management
	will propose something that they think is fair.&nbsp; All contributors will
	have an opportunity to offer feedback and then neoFICTION' management will make
	the final call.</p>

	<p>Q: WILL I BE ABLE TO EDIT MY CONTENT AFTER I SUBMIT IT?</p>

	<p>Yes, you have the option of editing your content after
	submitting it.&nbsp; However, neoFICTION may use earlier versions of your
	content.&nbsp; Also, be aware that if you substantially change your content,
	you may alienate writers that have contributed content down-stream from you.</p>

	<p>Q: WHY DO WE REQUIRE A LICENSE TO USE YOUR CONTENT?</p>

	<p>One of the founding ideas of&nbsp; neoFICTION is that people
	can collaborate to jointly produce stories and other content that are better
	than the sum of their parts.&nbsp; These stories may even have value
	someday.&nbsp; But it would be impossible to sell or license these works of
	many authors if every author could withhold the rights to his or her part of
	the story, however small.&nbsp; That's why we need your agreement to let us use
	your content once you post it on our site.</p>








<%= form_tag( update_eula_path, :method=>'post', :multipart => true) do %>
<br />
<p>
	I accept the neoFICTION Terms of Use: <%= check_box_tag 'accept', 'yes', false %>
</p>

<p>
	<%= submit_tag "Submit" %>
</p>
	
<% end %>

