<h3>Newest Stories</h3>

<div class="three-fourth last">

<p>These are the newest story ideas created on the neoFICTION site.  Let the story creators know what you think of their ideas! </p>

<div class="story-list">
	
	<table>
	  <tr>
	    <th>Title</th>
	    <th>Story Creator</th>
	    <th>Author's Introduction</th>
		<th>First Chapter</th>
	    <th>Created at:</th>
	  </tr>

	<% @new_stories.each do |story| %>
	<tr>
	  <td><%= link_to story.title, chapter_path( story.most_pop_chapter(current_user)  ) %></td>
	  <td><%= link_to story.user.name, user_profile_path( story.user ) %></td>
	  <td><%= simple_format story.desc.truncate(200, :separator => ' ') %></td>
	  <td><%= simple_format story.first_chapters.find(:first).chapter.body.truncate(200, :separator => ' ') %></td>
	  <td><%= l story.created_at, :format => :short %></td>
	</tr>
	<% end  %>
	</table>
	
	
</div>
<%= paginate @new_stories, :param_name => 'new_page' %>

</div>
	